body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-left: 40%;
  margin-bottom: 20px;
  color: blue;
  font-size: 100px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 100px;
}

.integer {
  /* color: rgb(0, 255, 0); */
  color: black;
  font-size: 200px;
}

/** https://www.w3schools.com/css/css_align.asp */
.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 25px;
  text-align: center;
}